<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xudong.im.data.mapper.SensitiveWordMapper">
    <resultMap id="sensitiveWordMap" type="sensitiveWord">
        <id column="id" property="id"/><!--  -->
        <result column="gmt_modify" property="gmtModify"/><!--  -->
        <result column="words" property="words"/><!-- 敏感词(逗号分隔) -->
    </resultMap>

    <insert id="insert" parameterType="sensitiveWord" useGeneratedKeys="true" keyProperty="id">
        insert into
        sensitive_word(
        <trim prefix="" prefixOverrides=",">
            ,gmt_modify
            <if test="words != null">,words</if>
        </trim>
        )values(
        <trim prefix="" prefixOverrides=",">
            ,now()
            <if test="words != null">,#{words,jdbcType=VARCHAR}</if>
        </trim>
        )
    </insert>

    <update id="update" parameterType="sensitiveWord">
        update sensitive_word
        <set>
            gmt_modify=now(),
            <if test="words != null">words=#{words,jdbcType=VARCHAR},</if>
        </set>
        where id=#{id}
    </update>

    <select id="load" parameterType="int" resultMap="sensitiveWordMap">
    		select * from sensitive_word where id=#{id}
    	</select>

    <sql id="queryCommonSql">
        FROM sensitive_word sw
        <where>
            <if test="idArray != null">
                sw.id in
                <foreach collection="idArray" index="index" item="item" open="(" separator="," close=")">#{item}
                </foreach>
            </if>
            <if test="gmtModifyFrom != null">and sw.gmt_modify >= #{gmtModifyFrom}</if>
            <if test="gmtModifyTo != null">
                <![CDATA[and sw.gmt_modify < date_add(#{gmtModifyTo}, interval 1 day)]]>
            </if>
            <if test="words != null and words.trim() !=''">and sw.words = #{words}</if>
        </where>
    </sql>

    <sql id="sortSql">
        <choose>
            <when test="sort != null and sort.trim() !=''">
                order by ${sort}
            </when>
            <otherwise>
                <if test="sortByDefault">
                    order by sw.gmt_create DESC
                </if>
            </otherwise>
        </choose>
    </sql>

    <select id="queryList" parameterType="sensitiveWordQuery" resultMap="sensitiveWordMap">
        select sw.id
        <choose>
            <when test="columns != null and columns.length>0">
                <foreach collection="columns" index="index" item="item">,${item}</foreach>
            </when>
            <otherwise>
                ,sw.gmt_modify
                ,sw.words
            </otherwise>
        </choose>
        <include refid="queryCommonSql"/>
        <include refid="sortSql"/>
        <if test="pageSize > 0">
            limit ${startRow},${pageSize}
        </if>
    </select>

    <select id="queryCount" parameterType="sensitiveWordQuery" resultType="int">
        select count(1)
        <include refid="queryCommonSql"/>
    </select>

    <update id="updateStatus" parameterType="sensitiveWord">
		update sensitive_word set status=#{status} where   id=#{id} 	</update>

    <update id="updateIsDeleted" parameterType="sensitiveWord">
        update sensitive_word set is_deleted=#{isDeleted} where   id=#{id}     </update>

    <delete id="delete" parameterType="int">
    		delete from sensitive_word where id=#{id}
    	</delete>
</mapper>