<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xudong.data.mapper.TalkSkillMapper">
    <resultMap id="talkSkillMap" type="talkSkill">
        <id column="id" property="id"/><!--  -->
        <result column="gmt_create" property="gmtCreate"/><!--  -->
        <result column="gmt_modify" property="gmtModify"/><!--  -->
        <result column="is_deleted" property="isDeleted"/><!-- 是否删除(0 未删除 1 删除) -->
        <result column="status" property="status"/><!-- 状态(1 正常 2 停用) -->
        <result column="content" property="content"/><!-- 内容 -->
    </resultMap>

    <insert id="insert" parameterType="talkSkill" useGeneratedKeys="true" keyProperty="id">
        insert into
        talk_skill(
        <trim prefix="" prefixOverrides=",">
            ,gmt_create
            ,gmt_modify
            ,is_deleted
            <if test="status != null">,status</if>
            <if test="content != null">,content</if>
        </trim>
        )values(
        <trim prefix="" prefixOverrides=",">
            ,now()
            ,now()
            ,0
            <if test="status != null">,#{status,jdbcType=INTEGER}</if>
            <if test="content != null">,#{content,jdbcType=VARCHAR}</if>
        </trim>
        )
    </insert>

    <update id="update" parameterType="talkSkill">
        update talk_skill
        <set>
            <if test="gmtCreate != null">gmt_create=#{gmtCreate,jdbcType=TIMESTAMP},</if>
            gmt_modify=now(),
            <if test="isDeleted != null">is_deleted=#{isDeleted,jdbcType=INTEGER},</if>
            <if test="status != null">status=#{status,jdbcType=INTEGER},</if>
            <if test="content != null">content=#{content,jdbcType=VARCHAR},</if>
        </set>
        where id=#{id}
    </update>

    <select id="load" parameterType="int" resultMap="talkSkillMap">
    		select * from talk_skill where id=#{id}
    	</select>

    <sql id="queryCommonSql">
        FROM talk_skill ts
        <where>
            <if test="idArray != null">
                ts.id in
                <foreach collection="idArray" index="index" item="item" open="(" separator="," close=")">#{item}
                </foreach>
            </if>
            <if test="gmtCreateFrom != null">and ts.gmt_create >= #{gmtCreateFrom}</if>
            <if test="gmtCreateTo != null">
                <![CDATA[and ts.gmt_create < date_add(#{gmtCreateTo}, interval 1 day)]]>
            </if>
            <if test="gmtModifyFrom != null">and ts.gmt_modify >= #{gmtModifyFrom}</if>
            <if test="gmtModifyTo != null">
                <![CDATA[and ts.gmt_modify < date_add(#{gmtModifyTo}, interval 1 day)]]>
            </if>
            <choose>
                <when test="isDeleted == null">and ts.is_deleted=0</when>
                <otherwise>and ts.is_deleted = #{isDeleted}</otherwise>
            </choose>
            <choose>
                <when test="status != null">and ts.status = #{status}</when>
                <when test="statusArray != null">
                    and ts.status in
                    <foreach collection="statusArray" index="index" item="item" open="(" separator="," close=")">#{item}
                    </foreach>
                </when>
            </choose>
            <if test="content != null and content.trim() !=''">and ts.content = #{content}</if>
        </where>
    </sql>

    <sql id="sortSql">
        <choose>
            <when test="sort != null and sort.trim() !=''">
                order by ${sort}
            </when>
            <otherwise>
                <if test="sortByDefault">
                    order by ts.gmt_create DESC
                </if>
            </otherwise>
        </choose>
    </sql>

    <select id="queryList" parameterType="talkSkillQuery" resultMap="talkSkillMap">
        select ts.id
        <choose>
            <when test="columns != null and columns.length>0">
                <foreach collection="columns" index="index" item="item">,${item}</foreach>
            </when>
            <otherwise>
                ,ts.gmt_create
                ,ts.gmt_modify
                ,ts.is_deleted
                ,ts.status
                ,ts.content
            </otherwise>
        </choose>
        <include refid="queryCommonSql"/>
        <include refid="sortSql"/>
        <if test="pageSize > 0">
            limit ${startRow},${pageSize}
        </if>
    </select>

    <select id="queryCount" parameterType="talkSkillQuery" resultType="int">
        select count(1)
        <include refid="queryCommonSql"/>
    </select>

    <update id="updateStatus" parameterType="talkSkill">
		update talk_skill set status=#{status} where   id=#{id} 	</update>

    <update id="updateIsDeleted" parameterType="talkSkill">
        update talk_skill set is_deleted=#{isDeleted} where   id=#{id}     </update>

    <delete id="delete" parameterType="int">
    		delete from talk_skill where id=#{id}
    	</delete>
</mapper>